.inner {margin:0 auto; max-width:1360px; padding:0 20px;}
.item {margin-top:100px; padding-top:50px;}
.item:after {clear:both; content:''; display:block;}
.media {position:relative;}
.image {border-radius:24px; box-shadow:0px 4px 8px rgba(0, 0, 0, 0.25); overflow:hidden; position:relative;}
.image > div {display:block !important;}
.overlay {height:100%; left:0; mix-blend-mode:multiply; position:absolute; top:0; width:100%;}
.heading {padding-bottom:40px;}
.content ul {list-style:none; margin:-28px 0 50px; padding:0 0 0 80px;}
.content ul li:before {border-color:transparent #faa800; border-style:solid; border-width:9px 0 9px 14px; content:''; display:block; height:0; left:-35px; position:relative; top:28px; width:0;}

/*desktop only*/
@media screen and (min-width:961px) {
    .media {float:left; padding-right:3.5%; width:50%;}
    .col_60-40 .media {width:60%;}
    .col_70-30 .media {width:70%;}
    .item:nth-child(2n) .media {float:right; padding-right:0; padding-left:3.5%;}
    .flip .media {float:right; padding-right:0; padding-left:3.5%;}
        .flip .item:nth-child(2n) .media {float:left; padding-right:3.5%; padding-left:0;}
    .content {float:right; width:50%;}
    .col_60-40 .content {width:40%;}
    .col_70-30 .content {width:30%;}
    .item:nth-child(2n) .content {float:left;}
    .flip .content {float:left;}
        .flip .item:nth-child(2n) .content {float:right;}
    .icon {bottom:-11%; left:8%; position:absolute;}
        .item:nth-child(2n) .icon {left:auto; right:8%;}    
        .flip .icon {left:auto; right:8%;}
            .flip .item:nth-child(2n) .icon {left:8%; right:auto;}
}

@media screen and (max-width:1024px) {
    .item {margin-top:60px; padding-top:40px;}
    .content ul {padding-left:50px;}
}
/*mobile only*/
@media screen and (max-width:960px) {
    .inner {padding:0;}
    .item {margin-top:40px; padding-top:25px;}
    .image {border-radius:0; box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);}
    .content {padding:0 20px 60px; text-align:center;}
    .content ul {padding-left:40px; text-align:left;}
    .icon {margin-bottom:30px;}
}