.section {margin:0 0 100px;}
.inner {margin:0 auto; max-width:1320px;}
.top {padding:0 20px; padding-bottom: calc((100% - 1210px) / 2)}
.grid {display:flex; margin-top:-54px; }
.grid .slider {display:flex;}
.item_outer {float:left; padding:0 20px;}
.item {background:#fff; border-radius:24px; box-shadow:0px 4px 8px rgba(0, 0, 0, 0.25); display: flex; flex-direction: column; height:100%; padding:40px 50px;}
.image {display:inline-block; vertical-align:middle; width:27%;}
.item_heading {color: #383544; display:inline-block; vertical-align:middle; width:100%; padding-top: 20px}
.item_content {color: #383544; clear:both; font-family: 'Gilroy Regular'; height: 100%; line-height:1.55; padding:25px 0 15px;  }
.bottom {clear:both; padding:60px 20px 0;}
.bottomcontent_cta {text-align:center;}
.top h4 {color: #383544; font-size:14px; font-family: 'Gilroy Regular';}
.cta {cursor: pointer; font-family: 'Gilroy Bold'; font-size: 18px; font-weight: bold;}
/* cta btn */
.cta_grid{ font-family:'Gilroy Semibold'; padding-left: 0; padding-top:calc((100% - 205px) / 2) ; font-size: 18px; position: float; bottom: 30px}
.cta_container {display: flex;}

/* grid-insights */
.insights .inner .item{border: 1px solid transparent; box-shadow: none; background-color: transparent; display: flex; flex-direction: column;}
.insights .inner .image{border: 1px solid #383544; background-color: #383544; width: 100%; height: 249px;}
.insights .inner .item_content {border: 1px solid transparent; height: 30%}
.arrow_span {padding-left: 10px;}

/* media queries */

@media screen and (min-width:961px) {
}

@media screen and (max-width:1200px) {
    .item_outer {padding:0 15px;}
    .item {padding:20px 25px;}
}
/*mobile only*/
@media screen and (max-width:960px) {
    .section {margin:30px 0 80px;}
    .grid {display:block; margin-top:0;}
    .item_outer {float:none; margin:15px 0; padding:0 25px;}
    .item {padding:30px;}
    .bottom{padding-top:30px;}
}

