

.content {font-family: 'Gilroy Regular'; font-size: calc(14px + (26 - 14) * ((44vw - 300px) / (1600 - 300)))}
.divider {height: 6px; background-color: black; margin-bottom: 30px; margin-top: 30px; width: 62px; }
.fade_up .no_offset {padding-left: calc((100% - 960px) / 2); padding-right: calc((100% - 960px) / 2)}
.regular_content {margin:50px 0; overflow:hidden; padding:50px; text-align:center; width:100% }
.regular_content .inner {align-items: center; display: flex; flex-direction: row; font-family: 'Inter', sans-serif; font-size: 18px;  line-height: 1.5; margin:0 auto; max-width:1050px; text-align: justify;  width: 700px}
	.regular_content.wider .inner {max-width:1170px;}
	.regular_content.narrow .inner {max-width:970px;}
.regular-content h1 {text-align: end;}
.regular_content h2 {color: #383544; font-weight:bold; margin-bottom:20px; text-align:left; }
	.regular_content h2:after{border-bottom: 3px solid black;}
.regular_content h4 {color:#001f33;}
.regular_content h5 {color:#dba111; margin-bottom:25px;}
@media screen and (max-width:960px) {
	.regular_content .inner {width: 100%};
	.divider {display: none}
}
