#hero {height:100vh; text-align:center; padding-top:61px; position:relative;}
.image {height:100%; padding:50px 30px 75px;}
.image div, .image img {height:100%;}
@media screen and (max-width:960px) {
    #hero {height:auto; width:100vw;}
    .image img {height:auto;}
}
