.field {margin-bottom:20px;}
.fieldwrap {position:relative;}
.text {font-size:16px;}
.label {color:#aaa; display:block; font-size:20px; position:absolute; top:50%; transform:translateY(-50%); transition:all 0.2s ease;}
    .fieldwrap.dirty .label {font-size:12px; top:0;}
    .textarea .label {top:15%;}
    .checkboxes .label {padding:10px 0; position:static; transform:none;}
.checkbox_field {padding:5px 0;}
.checkbox_label {padding:0 10px;}