.fieldset {border:none; margin-bottom:25px;}
.fieldset legend {margin-bottom:8px;}
.field_group {background:#fff; border:1px solid #b1bac9; box-shadow:0px 3px 6px rgba(0, 0, 0, 0.1);}
    .field_group.invalid_group {border-color:#d10202;}
.fieldwrap {position:relative;}
.field {box-shadow:0px 3px 6px rgba(0, 0, 0, 0.1); margin-bottom:20px;}
    .fieldset .field {margin-bottom:-1px;}
    .field_group .field {box-shadow:none; margin-bottom:0;}
    .field.cc_month {width:60px;}
    .field.cc_year {width:75px;}
.field input, .field select {background:#fff; border:1px solid #b1bac9;}
    .field select {max-height:53px;}
    .field .invalid input, .field .invalid select {border-color:#d10202;}
    .field_group input {background:transparent; border:none;}
.text {font-size:16px;}
.label {color:#b1bac9; display:block; font-size:24px; font-weight:300; left:15px; letter-spacing:-0.02em; position:absolute; top:50%; transform:translateY(-50%); transition:all 0.2s ease; z-index:2;}
    .fieldwrap.dirty .label {background:#fff; font-size:13px; padding:0 2px; top:0;}
    .textarea .label {top:15%;}
    .checkboxes .label {padding:10px 0; position:static; transform:none;}
    .field .invalid .label {color:#d10202;}
.checkbox_field {padding:5px 0;}
.checkbox_label {padding:0 10px;}
.cc_date_separator {color:#b1bac9; vertical-align:2px; width:2px;}
.error {color:#d10202; font-size:24px; font-weight:300; left:15px; letter-spacing:-0.02em; position:absolute; top:50%; transform:translateY(-50%); z-index:2;}