@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Roboto:wght@100;300;400;700&display=swap');
@font-face{font-family: 'Gilroy Regular'; src:url(../public/fonts/Gilroy-Regular.woff) format('woff'), url(../public/fonts/Gilroy-Regular.woff2) format('woff2')}
@font-face{font-family: 'Gilroy Bold'; src:url(../public/fonts/Gilroy-Bold.woff) format('woff'), url(../public/fonts/Gilroy-Bold.woff2) format('woff2')}
@font-face{font-family: 'Gilroy Semibold'; src:url(../public/fonts/Gilroy-SemiBold.woff) format('woff'), url(../public/fonts/Gilroy-SemiBold.woff2) format('woff2')}
@font-face{font-family: 'Inter'; src:url(../public/fonts/Inter-VariableFont_slnt\,wght.ttf) format('ttf')}

/* =================            @FONT-FACE             =============== */

/* =================          GLOBAL RESET           =============== */
*, ::after, ::before {background-repeat:no-repeat; box-sizing:inherit;}
::after, ::before {text-decoration:inherit; vertical-align:inherit;}
html {-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; cursor:default; font-size:100%; -ms-text-size-adjust:100%; -webkit-text-size-adjust:100%;}
article, aside, footer, header, nav, section, figure, figcaption, main {display:block;}
figcaption, figure, main, picture {display:block;}
figure {margin:1em 40px;}
hr {box-sizing:content-box; height:0; overflow:visible;}
nav ol, nav ul {list-style:none;}
pre {font-family:monospace, monospace; font-size:1em;}
a {background-color:transparent; -webkit-text-decoration-skip:objects;}
b, strong {font-weight:inherit;}
b, strong {font-weight:bolder;}
small {font-size:80%;}
sub, sup {font-size:75%; line-height:0; position:relative; vertical-align:baseline;}
sub {bottom:-.25em;}
sup {top:-.3em;}
	::-moz-selection {background-color:#009abb; color:#000; text-shadow:none;}
	::selection {background-color:#009abb; color:#000; text-shadow:none;}
audio, canvas, iframe, img, svg, video {vertical-align:middle;}
audio, video {display:inline-block;}
audio:not([controls]) {display:none; height:0;}
img {border-style:none;}
table {border-collapse:collapse; table-layout:fixed;}
table th, table td {vertical-align:top;}
button, input, select, textarea {background-color:transparent; color:inherit; font-family:inherit; font-size:inherit; line-height:inherit; margin:0;}
button, input {overflow:visible;}
button, select {text-transform:none;}
[type=reset], [type=submit], button, html [type=button] {-webkit-appearance:none; -moz-appearance:none; -ms-appearance:none; -o-appearance:none; appearance:none;}
input[type="submit"]:disabled {color:#525252;}
	[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {border-style:none; padding:0;}
	[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {outline:1px dotted ButtonText;}
textarea {overflow:auto; resize:vertical;}
[type=checkbox], [type=radio] {box-sizing:border-box; padding:0;}
input[type=number] {-moz-appearance:textfield;}
	[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {height:auto; margin:0; -webkit-appearance:none; -moz-appearance:none; -ms-appearance:none; -o-appearance:none; appearance:none;}
[type=search] {-webkit-appearance:textfield; outline-offset:-2px;}
	[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {-webkit-appearance:none; -moz-appearance:none; -ms-appearance:none; -o-appearance:none; appearance:none;}
	::-webkit-file-upload-button {-webkit-appearance:button; font:inherit;}
[tabindex], a, area, button, input, label, select, summary, textarea {-ms-touch-action:manipulation; touch-action:manipulation;}
[hidden] {display:none;}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, main {margin:0; padding:0;}

/* =================           GLOBAL STYLES           =============== */
a{text-decoration: none;}
body {background:#F6F6F6; color:#55565a; font-family:Arial, Helvetica, 'Gilroy', sans-serif; font-size:18px; line-height:1.2;}
h1, h2, h3, h4, h5, h6 {color:#1dc5d1; font-weight:normal; margin-bottom:10px;}
h1 {font-family: "Gilroy Bold", sans-serif; font-size:64px; line-height: 1.1; letter-spacing: -0.02em;}
h2 {font-family:'Gilroy Semibold', sans-serif; font-size:48px; line-height: 1.2; letter-spacing: -0.01em; }
h3 {font-family: "Gilroy Semibold"; font-size:36px; line-height: 1.3; letter-spacing: 0em;}
h4 {font-family: "Gilroy Semibold"; font-size:30px; line-height: 1.3; letter-spacing: 0em;}
h5 {font-size:18px;}
h6 {font-size:14px;}
.info-tag{font-family: 'Gilroy Regular';}
.font-small {font-size: 14px;}
p {font-family: 'Inter'; font-size: 18px; line-height: 1.5; margin:0; padding:0 0 20px; }
ul, ol {margin:0; padding:0 0 20px 1.8em;}
ol {list-style-type:none; padding-left:0;}
ol li {Counter-increment:step-counter; margin:10px 0 20px;}
a {color:inherit;}
	a:hover {text-decoration:none;}
img, svg {border:0 none; height:auto; max-width:100%; vertical-align:top; -ms-interpolation-mode:bicubic;}
table {border-collapse:collapse; border-spacing:0; margin:0 0 20px; padding:0; width:100%;}
td {vertical-align:top;}
.close {cursor:pointer; height:20px; position:absolute; right:25px; top:25px; width:20px;}
.close span {display:block; height:2px; margin-top:-1px; position:absolute; top:50%; width:100%;}
.close span:after, .close span:before {background:#999; content:''; display:block; height:2px; position:absolute; width:100%;}
	.close span:before {left:0; top:0; transform:rotate(45deg); -moz-transform:rotate(45deg); -webkit-transform:rotate(45deg);}
	.close span:after {bottom:0; right:0; transform:rotate(-45deg); -moz-transform:rotate(-45deg); -webkit-transform:rotate(-45deg);}
@media screen and (max-width:960px) {
	body {font-size:16px;}
	h1 {font-size:30px;}
	h2 {font-size:20px;}
	h3 {font-size:16px;}
	h4 {font-size:14px;}
	h5 {font-size:12px;}
}

/* utlity classes start */

/* flex-box */
.align-between {align-items: space-between;}
.align-center {align-items: center;}
.align-end {align-items:flex-end;}
.align-self-end {align-self: flex-end;}
.align-start {align-self: flex-start;}
.auto {flex: auto;}
.centered {align-items: center; display: flex; justify-content: center;}
.col {display: flex; flex-direction: column;}
.grow {flex: 1}
.justify-around {justify-content: space-around;}
.justify-between {justify-content: space-between;}
.justify-center {justify-content: center;}
.justify-end {justify-content: flex-end;}
.justify-start {justify-content: flex-start;}
.row {display: flex;}
.row-reverse {display: flex; flex-direction: row-reverse;}
.wrap {flex-wrap: wrap;}
.wrap-reverse {flex-wrap: wrap-reverse;}

/* common */
.cap-max-width {max-width: 100%;}
.cap-max-height {max-height: 100%;}
.max-height {max-height: 100%;}
.max-width {max-width: 100%;}

/* test */
.test {background-color: blue;border: 1px solid red; color: red; }

/* typography */

.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right{text-align: right;}
.uppercase {text-transform: uppercase;}

/* utility classes end */

/* colors */
:root{--blue:#043BF2; --mint:#35EDCA; --midnight:#052D66; --carbon:#383544; --steel: #D6D3E5; --hotpink: #FE00B8; --ice:#00E9FF; --lavender:#9357F8; --neon: #0EF3A1; --dark-purple:#392566; --white:#fff; --black:#000; --font-primary: 'Roboto', sans-serif}

/* shortcuts ______________________________________________________________ */
.clear {clear:both; overflow:hidden;}
.align_center {text-align:center;}
button, .btn {background: #043BF2; border:#000; border-radius:5px; color:#000; cursor:pointer;  display:inline-block;font-family:'Gilroy Semibold'; font-size:20px;  min-width:50px; padding:10px 20px; text-decoration:none; text-transform:none;}
	button:hover, .btn:hover {}
.btn_green {background:#276500;}
.btn_red {background:#ff0000;}
.btn_white {background:#fff; color:#e56020;}
.btn_fixed_bottom {box-shadow:0 0 10px 2px rgba(0,0,0,0.5); left:0;}
.btn_selector {margin:15px 0; display:block; text-decoration:none;}
.btn_header {background: transparent; border: 1px solid #000; font-family: 'Gilroy Regular'; font-weight: 700; text-transform: none;}
.btn_cta_small {background: transparent; font-family: 'Gilroy Regular'; font-size: 28px; font-weight: 700;  letter-spacing: 1; padding: 16px 46px}
.btn_cta1 {color: #fff; font-family: 'Gilroy Semibold'; font-size: 24px; letter-spacing: 1; padding: 18px 48px }
.btn_cta2 {color: #fff; font-family: 'Gilroy Semibold'; font-size: 14px; letter-spacing: 1; padding: 16px 33px }
.btn_cta_link {background: transparent; cursor: pointer; font-family: 'Gilroy Regular'; font-size: 14px; font-weight: 700;  letter-spacing: 1; padding: 0px;text-align: inherit;}

.hr {background:#999; height:1px; margin:60px 0;}
.hidden, .mobile_show, .mobile_show.desktop_show {display:none;}
.lowercase {text-transform:lowercase;}
.caption {font-size:14px;}
.fixed_bottom {bottom:0; position:fixed;}
.float_left {float:left;}
.mt_sm {margin-top:1rem;}
.mt_md {margin-top:1.5rem;}
.w_100 {width:100%;}
.w_75 {width:75%;}
.w_66 {width:66.66%;}
.w_50 {width:50%;}
.w_33 {width:33.33%;}
.w_25 {width:25%;}
@media screen and (max-width:960px) {
	.btn {}
	.desktop_show {display:none;}
	.mobile_show {display:block;}
}

/* containers ______________________________________________________________ */
#master {overflow:hidden; position:relative;}
main {position:relative;}
#content {margin:0 auto; max-width:1200px; padding:0 30px;}
@media screen and (max-width:960px) {
}

/* header ______________________________________________________________ */
#header {}
#logo {}
#logo svg {display:inline-block; height:100%; margin-right:10px; vertical-align:middle;}
#logo a {text-decoration:none;}
@media screen and (max-width:960px) {
    #logo {float:none;}
}

/* main nav ______________________________________________________________ */
#main_nav {}
#main_nav ul {padding:0;}
#main_nav li {}
#main_nav a {font-family: 'Gilroy Regular';font-size: 20px; }
    #main_nav a:hover, #main_nav li.current a {}
#main_nav ul ul {display:none;}
#nav_icon {display:none;}
@media screen and (max-width:960px) {
    #main_nav {}
    #nav_icon {top:10px; cursor:pointer; display:block; height:20px; position:absolute; right:10px; text-indent:-9000px; transition:all 0.3s ease-out; width:23px; z-index:3;}
    #nav_icon span {background:#17b3be; display:block; height:2px; left:0; position:absolute; top:9px; width:100%;}
    #nav_icon span:after, #nav_icon span:before {background:#17b3be; content:''; height:2px; left:0; position:absolute; transition-delay:0.3s, 0s; transition-duration:0.3s, 0.3s; width:100%;}
        #nav_icon span:before {left:0; top:-6px; transition-property:top, transform;}
        #nav_icon span:after {bottom:-6px; transition-property:bottom, transform;}
}

/* footer ______________________________________________________________ */
#footer {}
#footer_nav ul {padding:0;}
#footer_nav li {}
#copyright {}
@media screen and (max-width:960px) {
    #footer {}
}

/* forms ___________________________ */
select, textarea, input[type="text"], input[type="email"], input[type="tel"], input[type="number"], input[type="password"] {background:transparent; border:none; border-bottom:1px solid #999; border-radius:0; color:#001f33; display:block; font-size:20px; line-height:normal; outline:none; padding:10px 0; position:relative; width:100%; -webkit-appearance:none; -moz-appearance:none; -ms-appearance:none; -o-appearance:none; appearance:none; -webkit-border-radius:0px; z-index:1;}
    select {appearance:auto; -webkit-appearance:auto;}
    textarea {min-height:150px;}
::-webkit-input-placeholder {color:#999;}
::-moz-placeholder {color:#999;}
:-ms-input-placeholder {color:#999;}
:-moz-placeholder {color:#999;}